 html {
    width: 100%;
    height: 100%;
    font-family: "Indie Flower", cursive;
}
 body {
    width: 100%;
    height: 100%;
}
 h1, h2, h3 {
    text-align: center;
    font-family: "Indie Flower", cursive !important;
    margin: 20px 10px 20px 10px;
}
 #page {
    width: 100%;
    height: 100%;
}
 .black {
    background-color: black;
}

 .white {
    background-color: white;
}
 .row {
    width: 800px;
    height: 100px;
    display: inline-block;
    margin-right: 0 !important;
    margin-left: 0 !important;
    padding: 0px;
    float: left;
}
 .box {
    width: 100px;
    height: 100px;
    display: inline-block;
    margin: 0px;
}
 .red-piece {
    background-image: url(red.png);
}
 .black-piece {
    background-image: url(black.png);
}
 .black-king-piece {
    background-image: url(king-black.gif);
}
 .red-king-piece {
    background-image: url(king-red.gif);
}
 .black-piece,  .red-piece,  .black-king-piece,  .red-king-piece {
    background-size: 90px 90px;
    background-repeat: no-repeat;
    background-position: center;
}
 #red-side-left {
    width: 200px;
    min-height: 100px;
}
 #black-side-right {
    width: 200px;
    min-height: 100px;
}
 .main-content {
    /* width: 100%; */
    width:  850px;
}
 #game-board-container {
    border: black 1px solid;
    display: block;
    width: 800px;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: separate;
    box-sizing: content-box !important;
    border-spacing: 0 !important;
}
 #red-piece-prison, #black-piece-prison {
    width: 200px;
    min-height: 100px;
    display: inline-block;
}
 .available {
    background-color: blue;
}
.available-no-show {
    background-color: white;
}
 .clicked {
    background-color: yellow;
}
 .centered {
    text-align: center;
    margin-bottom: 20px;
}
.centered h2 {
    display: inline;
}
h3 {
    margin-right: 5px;
    margin-left: 5px;
}
#red-side-left, #black-side-right {
    margin-right: auto;
    margin-left: auto;
}
